[submodule "vim/pack/packages/start/vim-rails"]
	path = vim/pack/packages/start/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "vim/pack/packages/start/vim-rspec"]
	path = vim/pack/packages/start/vim-rspec
	url = git@github.com:thoughtbot/vim-rspec.git
